---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$background-color: #f2f0ef;
$text-color: #252827;
$muted-text-color: #626867;
$border-color: #bbbdbe;
$footer-background-color: #bbbdbe;
$primary-color: #245f73;
$link-color: #245f73;
$link-color-hover: #733e24;
$link-color-visited: #245f73;
$masthead-link-color: #245f73;
$masthead-link-color-hover: #733e24;
$sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
$sans-serif-narrow: $sans-serif;
$serif: "Alegreya", Georgia, serif;
$global-font-family: $serif;
$header-font-family: $sans-serif;
$caption-font-family: $sans-serif;
$max-width: 1500px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "profile";
